h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 36px 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.card-body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.card{
    text-align: center;
    margin-top: 15px;
    margin: 15px;
}
header {
    background-color: rgb(172, 172, 172);
    padding: 50px 0;
    position: relative;
    height: 200px;
}
footer{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(172, 172, 172);
    padding: 30px 0;
    margin-top: 50px;
}
footer p {
    text-align: center;
    font-size: 24px;
}
.knopk{
    padding: auto;
    margin: auto;
}
.knopka{
    padding: auto;
    margin: auto;
    font-size: 24px;
}
.k2:hover{
    background-color: black;
    color: whitesmoke;
}
.k3{
        background-color: green;
        box-shadow: 0px 0px 3px 3px rgb(0, 75, 0);
        border-radius: 10px;
        color: red;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
}
.k3:active {
    box-shadow: 0px 0px 1px 1px;
    top: 3px;
}
.k4 {
    display: inline-block;
    color: white;
    border-width: 2px 0;
    border-style: none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 40px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
} 
.k4:hover{ 
    background: linear-gradient(#f5ae00, #9b00f5) #f5ae00; 
}
.k4:active{ 
    background: linear-gradient(#9b00f5, #f5ae00) #9b00f5; 
}
.k5{
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    padding: 10px 20px;
    border-radius: 3px / 100%;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.k5:active {
    top: 1px;
}
.k6{
    border: 1px solid rgba(0, 93, 109, 0.705);
    color: rgba(0, 145, 170, 0.705);
    border-width: 3px; 
	border-style: inset; 
}

.k6:hover {
    border: 1px solid rgba(0, 217, 255, 0.705);
    border-width: 3px; 
	border-style: inset; 
}